In [3]:
#SECTION 1:
#Q1.
a=int(input("enter first number:"))
b=int(input("enter second number:"))  
add = a+b
diff = a-b
product = a*b
quotient = a%b

print("addition of two no:",add)
print("difference between two no:",diff)
print("product of two no:",product)
print("quotient of two no:",quotient)

enter first number: 70
enter second number: 35

addition of two no: 105
difference between two no: 35
product of two no: 2450
quotient of two no: 0

In [4]:
#Q2.
a=int(input("enter number:"))
if a%2==0:
    print("even")
else:
    print("odd")

enter number: 45

odd

In [6]:
#Q3.
a=10
b=20
a,b = b,a
print(a,b)

20 10

In [10]:
#Q4.
num = int(input("Enter a number: "))
result = 1

for i in range(1, num + 1):
    result = result*i

print("The factorial of", num, "is", result)

Enter a number:  6

The factorial of 6 is 720

In [11]:
#Q5.
a=int(input("enter first number:"))
b=int(input("enter second number:")) 
c=int(input("enter third number:")) 

if a>=b & a>=c:
    print("largest no.",a)
elif b>=a & b>=c:
    print("largest no.",b)
else:
    print("largest no.",c)

enter first number: 10
enter second number: 20
enter third number: 30

largest no. 30

In [17]:
#SECTION 2

#Q6
list1 = [1,2,3,4,5]
sum_elements = sum(list1)
print(sum_elements)

15

In [18]:
#Q7
set1 = {1,2,3,4,5,1,2,3,5}
set1

{1, 2, 3, 4, 5}

In [51]:
#Q8
students = {
    "Shri": 80,
    "Mayur": 70,
    "Rohit": 90,
    "Krushna": 85
}

for name, marks in students.items():
    if marks > 75:
        print(name)

Shri
Rohit
Krushna

In [52]:
#Q9

a = (1,2,3,4,5)
a[::-1]

(5, 4, 3, 2, 1)

In [53]:
#Q10.
def count_vowels(input_string):
    vowels = ['a', 'e', 'i', 'o', 'u']
    
    vowel_count = 0
    
    for char in input_string.lower(): 
        if char in vowels:
            vowel_count += 1
    
    return vowel_count
    
input_string = input("Enter a string:")
print(f"Number of vowels in '{input_string}': {count_vowels(input_string)}")

Enter a string: Mayur buchkul

Number of vowels in 'Mayur buchkul': 4

In [40]:
#Q11
num = int(input("enter any number:"))

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

if is_prime(num):
    print(f"{num} is a prime number.")
else:
    print(f"{num} is not a prime number.")

enter any number: 52

52 is not a prime number.

In [42]:
#Q12
def fibonacci(n):
    fib_series = []
    a, b = 0, 1
    for _ in range(n):
        fib_series.append(a)
        a, b = b, a + b
    return fib_series

n = int(input("Enter the number of terms: "))

series = fibonacci(n)

print(f"Fibonacci series up to {n} terms: {series}")

Enter the number of terms:  15

Fibonacci series up to 15 terms: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [49]:
#Q13
number = int(input("Enter a number: "))

def multiplication_table(number):
    i = 1
    while i <= 10:
        print(f"{number} x {i} = {number * i}")
        i += 1

multiplication_table(number)

Enter a number:  14

14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140

In [50]:
#Q14
def sum_of_digits(number):
    sum_digits = 0
    while number > 0:
        digit = number % 10 
        sum_digits += digit 
        number //= 10
    return sum_digits

num = int(input("Enter a number: "))
result = sum_of_digits(num)
print(f"The sum of digits of {num} is {result}")

Enter a number:  45

The sum of digits of 45 is 9